@namespace Trifoia.Module.LottiePlayer
@inherits ModuleBase
@* Required *@
<MudThemeProvider IsDarkMode=true />
<MudPopoverProvider />

@* Needed for dialogs 
<MudDialogProvider />*@

@* Needed for snackbars 
<MudSnackbarProvider />*@

@if (_list == null)
{
<p><em>Loading...</em></p>
}
else
{
<ActionLink Action="Add" Security="SecurityAccessLevel.Edit" Text="Add LottiePlayer" ResourceKey="Add" />
<br />
<br />
    @if (_list.Any())
    {
        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            <MudText Class="mb-4">Enter data for the LottiePlayer module</MudText>
            <MudTable Items="@_list">
                <ColGroup>
                    <col style="width: 10px;" />
                    <col style="width: 10px;" />
                    <col />
                </ColGroup>
                <HeaderContent>
                    <MudTh>&nbsp;</MudTh>
                    <MudTh>&nbsp;</MudTh>
                    <MudTh>@Localizer["Name"]</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd Class="pa-2"><ActionLink Action="Edit" Parameters="@($"id=" + context.LottiePlayerId.ToString())" ResourceKey="Edit" /></MudTd>
                    <MudTd Class="pa-2"><ActionDialog Header="Delete LottiePlayer" Message="Are You Sure You Wish To Delete This LottiePlayer?" Action="Delete" Security="SecurityAccessLevel.Edit" Class="btn btn-danger" OnClick="@(async () => await Delete(context))" ResourceKey="Delete" /></MudTd>
                    <MudTd DataLabel="Nr">@context.Name</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudPaper Outlined="true" Class="border-dashed">
                        <MudStack Justify="Justify.SpaceBetween" Row="true">
                            <MudPaper Class="pa-3"><ActionLink Action="Add" Security="SecurityAccessLevel.Edit" Text="Add LottiePlayer" ResourceKey="Add" /></MudPaper>
                            <MudPaper Class="pa-3"><MudTablePager PageSizeOptions="new int[]{10, 25, 50, 100}" /></MudPaper>
                        </MudStack>
                    </MudPaper>
                </PagerContent>
            </MudTable>
        </MudContainer>
    }
    else
    {
        <MudPaper Class="pa-3"><ActionLink Action="Add" Security="SecurityAccessLevel.Edit" Text="Add LottiePlayer" ResourceKey="Add" /></MudPaper>
        <p>@Localizer["Message.DisplayNone"]</p>
    }
}
